<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.DBLogin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ricky_08_foreground"
        android:label="Login mySQL"
        android:roundIcon="@mipmap/ricky_08_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"> <!-- Untuk CLEARTEXT traffic -->
        <activity android:name=".RegisterActivity"></activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>